body {
    width: 98vw;
    height: 99vh;
    background-image: url(../img/fond.png);
}

#hunterLogoImg {
    width: 150px;
    height: 80px;
    margin-left: 50px;
}

#hunterImg1{
    width: 180px;
    height: 110px;
    float: left;
    padding-bottom: 10px;
    padding-right: 10px;
}

.items{
    display: inline;
    margin-left: 90px;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
}

#navbarHunter{
    display: flex;
    background-color: rgb(36, 0, 36);
    width: 750px;
    height: 140px;
    align-items: center;
    display: flex;
    margin-left: 22%;
}

main{
    width: 730px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 22%;
    padding: 10px;
}

.hunterText{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.hunterTitle{
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
}

#hunterImg2{
    width: 180px;
    height: 110px;
    float: left;
    padding-bottom: 10px;
    padding-right: 10px;
}

.readMore{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    background-color: rgb(36, 0, 36);
    color: white;
    transform: translate(600px, 10px);
}

#edenLogo{
    width: 52px;
    height: 22px;
    margin-left: 50%;
    margin-top: 2%;
}

#edenTexte{
    color: white;
    margin-left: 46%;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}